*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    text-decoration:none;
    font-family: "Barlow", sans-serif;
}
.reszta-fontów{
    font-family: "Barlow", sans-serif;
    font-family: "Dancing Script", cursive;
    font-family: "Caveat", cursive;
    font-family: "Roboto", sans-serif;
}
:root{
    --main-white:#e9e9e9;
    --full-white:#ffffff;
    --full-black:#000000;
    --full-gray:#4d4d4d;
    --main-green:#0f2f2a;
    --sec-green:#1E5F54;
    --red:#F23535;
}
.full-content{
    overflow: visible;
}
.full-content.sleeping{
    overflow: visible;
}
body{
    background:var(--main-white);
}
nav{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    transition:all .3s ease-in-out;
    z-index:99;
}
.mobile-navigation{
    display:none;
}
nav.scrolled{
    box-shadow:0px 2px 12px black;
}
nav.scrolled .nav-relative .nav-anchors .div-anchor a{
    color:var(--full-black);
    text-shadow:none;
    font-weight:400;
}
nav.scrolled .nav-relative .nav-anchors .div-anchor .icon{
    margin-bottom:-20px;
}
nav.scrolled .nav-relative .nav-anchors .div-anchor a:hover{
    color:hsl(0,0%,30%)
}
nav.scrolled .nav-relative .nav-anchors .div-anchor a:hover + .icon{
    color:hsl(0,0%,30%);
}
nav.scrolled .nav-relative .nav-anchors .div-anchor .icon{
    color:var(--full-black);
}
nav.scrolled .nav-relative .nav-socials .nav-socials-flex .icon{
    color:var(--full-black);
}
nav.scrolled .nav-relative .nav-socials .nav-socials-flex .icon:hover{
    color:hsl(0,0%,30%);
}
nav.scrolled .nav-relative .nav-socials{
    bottom:22px;
}
.navigation-icon{
    display:none;
}
.nav-relative{
    position:relative;
    padding:24px 0px 24px;
    background:transparent;
    transition:all .3s ease-in-out;
}
nav.scrolled .nav-relative{
    padding:8px 0px 21px;
    background:var(--main-white);
}
.nav-anchors{
    width:fit-content;
    display:flex;
    margin:0 auto;
}
.div-anchor{
    display:flex;
    flex-direction: column-reverse;
    justify-content: end;
    margin:0 32px;
}
.div-anchor a{
    font-weight:bold;
    font-size:20px;
    color:var(--full-white);
    text-shadow:2px 2px 2px var(--full-black);
    font-family: "Roboto", sans-serif;
    letter-spacing: 1px;
}
.a-active{
    color: #1e5f54 !important;
}
.anchor-subweb .a-active{
    color:#fff !important;
    text-decoration:underline;
    text-shadow:1px 1px 4px #000;
}
.anchor-subweb a{
    transition:all .3s ease-in-out;
}
.anchor-subweb a:hover{
    text-shadow:1px 1px 4px #000;
}
.navigation-icon{
    cursor:pointer;
}
.close-icon{
    cursor:pointer;
}
.div-anchor a:hover{
    color:hsl(0,0%,80%);
}
.div-anchor a:hover + .icon{
    color:hsl(0,0%,80%);
}
.div-anchor.nav-anchor-logo a{
    font-family: "Dancing Script", cursive;
    font-size:32px;
}
.div-anchor .icon{
    margin:0 auto -10px;
    color:white;
}

.nav-socials{
    position:absolute;
    bottom:24px;
    right:40px;
}
.nav-socials-flex{
    display:flex;
    flex-direction: row;
}
.nav-socials-flex a{
    color:white;
    margin:0px 8px;
}
.nav-socials-flex a:hover{
    color:hsl(0,0%,80%);
}
header{
    background:url('../img/Atrakcje-header.webp');
    width:100%;
    height:100vh;
    min-height:fit-content;
    background-repeat: no-repeat;
    background-size: cover;
}
.header-content{
    position:relative;
    display:flex;
    flex-direction: column;
    width:70%;
    margin:0 auto;
    padding-top:80px;
}
.header-content>div{
    margin:3vh 0px;
}
.header-content>div:nth-child(2){
    margin:1vh auto 3vh;
}
.tittle-of-page{
    display:flex;
    flex-direction: column;
}
.tittle-of-page svg{
    align-self: center;
    margin-bottom:-40px;
}
.tittle-of-page h1{
    color:var(--full-white);
    font-size:128px;
    font-family: "Dancing Script", cursive;
    text-align: center;
    text-shadow:2px 2px 2px black;
}
.tittle-of-page-ornament{
    width:25%;
    height:2px;
    background:var(--full-white);
    margin:24px auto 0px;
}
.tittle-of-page-article article{
    margin-top:100px;
    font-size:36px;
    font-family: "Barlow", sans-serif;
    font-style: italic;
    text-align: center;
    color:var(--full-white);
    letter-spacing:1px;
    text-shadow:2px 2px 2px black;
}
.tittle-of-page-button {
    margin-top:88px;
    text-align: center;
    margin-bottom:60px;
}
.tittle-of-page-button a{
    font-size:16px;
    padding:24px 56px;
    color:white;
    text-shadow:2px 2px 2px black;
    letter-spacing:3px;
    background:var(--red);
    transition:all .3s ease-in-out;
}
.tittle-of-page-button a:hover{
    box-shadow:0px 0px 20px black;
    text-shadow:1px 1px 1px black;
}


footer{
    width:100%;
    height:675px;
}
.footer-top{
    position:relative;
    height:575px;
    width:100%;
    background:linear-gradient(to bottom, #1B1B1B, #2e2d2d)
}
.footer-top-nav-flex{
    display:flex;
    flex-direction:row;
    justify-content: center;
    align-items: center;
}

.footer-socials{
    display:flex;
    flex-direction: column;
    width:fit-content;
    padding:32px 0px;
    z-index:22;
}
.footer-social-con{
    margin:4px 0px 4px 32px;
    width:25px;
    height:25px;
    color:var(--full-white);
    transition:color 0.3s ease-in-out;
}
.footer-social-con:hover{
    color:hsl(170, 53%, 37%);
}
.footer-social-con svg{
    width:100%;
    height:100%;
}
.footer-nav{
    width:100%;
}

.footer-abs-bukowinka{
    position:absolute;
    font-size:180px;
    font-family: "Dancing Script", cursive;
    top:10%;
    left:10%;
    color:hsla(170, 52%, 25%, 0.1);
    letter-spacing:5px;
}

.footer-nav{
    width:100%;
    text-align: center;
    z-index: 10;
    margin-left:-58px;
}
.footer-nav a{
    margin:0 32px;
    color:var(--full-white);
    font-size:32px;
    transition:all .3s ease-in-out;
}
.footer-nav a:hover{
    color:hsl(170, 53%, 37%);
    text-shadow: 0px 0px 2px black;
}

.footer-top-info-flex{
    padding:32px 0px;
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.footer-info-con-flex{
    display:flex;
    flex-direction: column;
    text-align: left;
}
.footer-info-header-p{
    font-size:32px;
    margin-bottom:32px;
    text-align:left;
    color:var(--full-white);
}
.footer-info-con-flex div{
    color:white;
    font-size:20px;
}
.svg-con{
    width:fit-content
}
.svg-con a{
    display:flex;
    flex-direction: row;
    color:white;
    transition:all .3s ease-in-out;
}
.svg-con a:hover{
    color:hsl(170, 53%, 37%);
}
.svg-con a:hover > div{
    color:hsl(170, 53%, 37%);
} 
.svg-con a div{
    margin-left:8px;
    color:var(--full-white);
    transition:all .3s ease-in-out;
}
.foot-con-flex{
    margin-top:16px;
}
.footer-info-con-flex:nth-child(3) a{
    margin-top:16px;
    width: fit-content;
}
.footer-info-con-flex:nth-child(2) > .foot-con-flex:nth-child(2){
    margin-top:0px !important;
}
.footer-kontakt-btn{
    background: #F23535;
    color:white;
    padding:16px 48px;
    font-size:14px !important;
    text-shadow:2px 2px 2px black;
    letter-spacing:3px;
    font-weight: bold;
}


.footer-bot{
    background:#202020;
    width:100%;
    height:100px;
}
.footer-bot-flex{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top:16px;
}
.footer-bot-flex div{
    width:33.32%;
    text-align: center;
}
.footer-bot-flex a, .footer-bot-flex div{
    color:white;
    font-size:20px;
}
.footer-bot-socials-flex{
    display:flex;
    flex-direction: row;
    justify-content: center;
}
.footer-bot-socials-flex a{
    width:25px;
    height:25px;
    margin:0px 8px;
    color:var(--full-white);
    transition:color .3s ease-in-out;
}
.footer-bot-socials-flex a:hover{
    color:hsl(170, 53%, 37%);
}
.footer-bot-socials-flex a svg{
    width:100%;
    height:100%;
}
.policy a:hover{
    color:hsl(170, 53%, 37%);
}
.policy a{
    color:var(--full-white);
    transition: color .3s ease-in-out;
}
.footer-bot-credits{
    margin-top:16px;
    text-align:center;
}
.footer-bot-credits a{
    color:hsl(0,0%,60%);
    font-size:20px;
    transition: color .3s ease-in-out;
}
.footer-bot-credits a:hover{
    color:hsl(170, 53%, 37%);
}

.atrakcje-description-main{
    display:flex;
    flex-direction: column;
    padding:80px;
}
.atrakcje-description{
    position:relative;
    width:70%;
    margin:0 auto;
}
.atrakcje-description h2{
    font-family: "Caveat", cursive;
    font-size:64px;
    font-weight:bold;
    text-align: center;
    color:var(--main-green);
    margin-bottom:80px;

}
.atrakcje-description article{
    font-size:24px;
    text-align: center;
    color:var(--full-black);

}
.atrakcje-icons-flex{
    display:flex;
    flex-direction:column;
}
.atrakcje-icons-absolute{
    display:none;
}
.atrakcje-icons{
    display:flex;
    flex-direction:row;
}
.atrakcje-icons.row1{
    justify-content: space-between;
}
.atrakcje-icons.row2{
    justify-content: space-around;
}
.atrakcje-icons.row3{
    width:80%;
    margin:0 auto;
    justify-content: space-around;
}
.atrakcje-detailed-description-full-flex-desk{
    display:flex;
    flex-direction:column;
}
.atrakcje-detailed-description-full-flex-mob{
    display:none
}

.atrakcje-detailed-full{
    position:relative;
    width:100%;
    height:400px;
    background-size: cover;
    display:flex;
}
.atrakcje-detailed-description-full-flex-desk > .atrakcje-detailed-full.right{
    justify-content: flex-end;
}
.atrakcje-detailed-description-full-flex-desk > .atrakcje-detailed-full.center{
    justify-content: center;
}
.atrakcje-detailed-description-full-flex-desk > .atrakcje-detailed-full.left{
    justify-content: flex-start;
}
.atrakcje-detailed-description-full-flex-desk > .atrakcje-detailed-full:nth-child(1){
    background: url('../img/rowery.jpg');
    background-position: 0% 40%;
}
.atrakcje-detailed-description-full-flex-desk > .atrakcje-detailed-full:nth-child(2){
    background: url('../img/plaza.jpg');
    background-position: 0% 50%;
}
.atrakcje-detailed-description-full-flex-desk > .atrakcje-detailed-full:nth-child(3){
    background: url('../img/żaglówki-big.jpg');
    background-position: 0% 70%;
}
.atrakcje-detailed-description-full-flex-desk > .atrakcje-detailed-full:nth-child(4){
    background: url('../img/boisko.jpg');
    background-position: 0% 70%;
}
.atrakcje-detailed-description-full-flex-desk > .atrakcje-detailed-full:nth-child(5){
    background: url('../img/wedkowanie.jpg');
    background-position: 0% 50%;
}
.atrakcje-detailed-description-full-flex-desk > .atrakcje-detailed-full:nth-child(6){
    background: url('../img/zabawy.jpg');
    background-position: 0% 40%;
}
.atrakcje-detailed-description-full-flex-desk > .atrakcje-detailed-full:nth-child(7){
    background: url('../img/plac-zabaw.jpg');
    background-position: 0% 50%;
}
.atrakcje-detailed-description-full-flex-desk > .atrakcje-detailed-full:nth-child(8){
    background: url('../img/sery.jpg');
    background-position: 0% 40%;
}
.atrakcje-detailed-description-full-flex-desk > .atrakcje-detailed-full:nth-child(9){
    background: url('../img/ognisko.jpg');
    background-position: 0% 30%;
}
.detailed-description-box{
    background:hsla(171, 52%, 12%,0.8);
    height:100%;
    width:400px;
    color:#fff;
    text-align:center;
    padding:20px;
    position:relative;
}
.detailed-description-box p{
    margin-top:24px;
    margin-bottom:5%;
    font-family: "Caveat", cursive;
    font-size:48px;
    font-weight:bold;
}
.detailed-description-box article{
    font-size:24px;
    text-shadow:1px 1px 3px #000;
    text-shadow:1px 1px 3px #000;
}
.detailed-description-box img{
    position:absolute;
    top:4px;
    right:4px;
}
.loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color:#e9e9e9;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.loader::after {
    content: "";
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #0f2f2a;
    animation: pulse 1.5s infinite ease-in-out;
}

@keyframes pulse {
    0%, 100% {
        transform: scale(1);
        opacity: 1;
    }
    50% {
        transform: scale(1.5);
        opacity: 0.5;
    }
}
.hidden {
    display: none !important;
}



@media only screen and (max-width:1400px){
    .header-content {
        width: 80%;
        margin: 0 auto;
        padding-top: 120px;
    }
}






@media only screen and (max-width:1200px){
    .div-anchor {
        margin: 0 16px;
    }
    .tittle-of-page-article article {
        font-size: 28px;
    }
    .footer-nav a {
        margin: 0 32px;
        font-size: 32px;
    }
    .footer-bot-flex a, .footer-bot-flex div {
        font-size: 16px;
    }
    .footer-bot-socials-flex a svg {
        width: 16px;
        height: 16px;
    }
    .footer-bot-socials-flex a {
        width: 16px;
        height: 16px;
    }
    .footer-bot-credits a {
        font-size: 12px;
    }
    .footer-bot {
        height: 85px;
    }
    footer {
        height: 660px;
    }
    .footer-top-info-flex {
        padding:32px 80px;
    }
    .footer-info-con-flex {
        width:33%;
        padding:0 32px;
    }

    .atrakcje-description article {
        font-size: 20px;
    }
    .detailed-description-box article {
        font-size: 20px;
    }
    .detailed-description-box p {
        font-size: 40px;
    }
    .atrakcje-detailed-full {
        height: 300px;
    }
    .atrakcje-detailed-full:nth-child(1) {
        background-position: 20% 40%;
    }
    .atrakcje-detailed-full:nth-child(2) {
        background-position: 70% 50%;
    }
    .atrakcje-detailed-full:nth-child(5) {
        background-position: 50% 50%;
    }
    .atrakcje-detailed-full:nth-child(6) {
        background-position: 30% 50%;
    }
    .atrakcje-detailed-full:nth-child(7) {
        background-position: 20% 50%;
    }
    .atrakcje-detailed-full:nth-child(8) {
        background-position: 30% 40%;
    }
    .atrakcje-detailed-full:nth-child(9) {
        background-position: 80% 50%;
    }
    .atrakcje-description {
        position: relative;
        width: 100%;
        margin: 0 auto;
    }
}

@media only screen and (max-width: 1100px){
    nav.scrolled .nav-relative .nav-socials {
        bottom: 10px;
        margin-right: 0;
    }
    .nav-socials {
        bottom: 15px;
        right: 16px;
    }
    .nav-socials-flex {
        flex-wrap: wrap;
        width: 70%;
        justify-content: center;
        align-items: center;
        float: right;
    }
    .nav-socials-flex a {
        margin: 2px 8px;
    }
    .tittle-of-page-article article {
        font-size: 24px;
    }
    .footer-info-header-p {
        font-size: 24px;
        margin-bottom: 32px;
        text-align: left;
        color: var(--full-white);
    }
    .footer-nav a {
        margin: 0 24px;
        font-size: 24px;
    }
    .footer-abs-bukowinka {
        position: absolute;
        font-size: 140px;
        top: 10%;
        left: 10%;
        letter-spacing: 5px;
    }
    .footer-info-con-flex div {
        color: white;
        font-size: 18px;
    }
    .footer-info-con-flex {
        width: 33%;
        padding: 0 16px;
    }
    .footer-social-con {
        margin: 4px 0px 4px 32px;
        width: 20px;
        height: 20px;
    }
    .atrakcje-icons img{
        width:50px;
        height:50px;
    }
    .atrakcje-description h2 {
        font-size: 48px;
    }
    .detailed-description-box img {
        position: absolute;
        top: 4px;
        right: 4px;
        width:50px;
        height:50px;
    }
    .detailed-description-box p {
        margin-top: 0px;
    }
}

@media only screen and (max-width:850px){
    .nav-relative{
        display:none;
    }
    .navigation-icon{
        position:absolute;
        width:40px;
        height:40px;
        z-index: 19 ;
        right:20px;
        top:20px;
        display:block;
        transition:all 0.9s ease-in-out;
        opacity:1;
    }
    .navigation-icon.sleeping{
        visibility: hidden;
        opacity:0;
        transition:all 0.9s ease-in-out;
    }
    .mobile-navigation-relative{
        width:100vw;
        min-height: 100vh;
        height:auto;
        position:relative;
        background:#1E5F54;
        padding-bottom:60px;
    }
    .mobile-navigation.sleeping{
        width:100vw;
        min-height:100vh;
        height:100%;
        position:fixed;
        top:0;
        right:0;
        overflow: scroll;   
        margin-right:0%; 
        visibility:visible;
        z-index:99;
        display:block;
        transform: translateX(100%);
        opacity:0;
        transition: all .3s ease-in-out;
    }
    .mobile-navigation{
        width:100vw;
        min-height:100vh;
        height:100%;
        position:fixed;
        top:0;
        right:0;
        overflow: scroll;   
        margin-right:0%; 
        z-index:99;
        opacity:0;
        transition: all .3s ease-in-out;
        transform: translateX(0%);
        opacity:1;
        display:block;
    }
    .close-icon{
        position:absolute;
        top:20px;
        right:20px;
        width:40px;
        height:40px;
        transform: rotate(90deg);
        transition:all .6s ease-in-out;
    }
    .mobile-navigation.sleeping .mobile-navigation-relative .close-icon{
        position:absolute;
        top:20px;
        right:20px;
        width:40px;
        height:40px;
        transform: rotate(0deg);
        transition:all .6s ease-in-out;
    }
    .mob-navigation-content{
        display:flex;
        flex-direction:column;
        padding-top:60px;
        padding-bottom:0px;
    }
    .mob-navigation-anchors{
        display:flex;
        flex-direction: column;
    }
    .mob-navigation-logo{
        display:flex;
        flex-direction:column-reverse;
        text-align:center;
        align-items: center;
    }
    .mob-navigation-logo svg{
        margin-bottom:-20px;
    }
    .mob-navigation-anchors .mob-navigation-logo a{
        font-family: "Dancing Script", cursive;
        font-size:64px;
        color:#fff;
    }
    .mob-navigation-anchors .mob-navigation-logo a + svg{
        color:#fff;
    }
    .anchor-subweb{
        margin:16px auto 0px;
        width:fit-content;
        position:relative;
    }
    .anchor-subweb a{
        text-align: center;
        color:#fff;
        font-size:24px;
    }
    .mob-navigation-anchors a:nth-child(1){
        margin-top:0px;
    }
    .mob-navigation-anchors a:nth-child(2){
        margin-top:16px;
    }
    .mob-navigation-button {
        margin-top:64px;
        text-align: center;
    }
    .mob-navigation-button a{
        font-size:14px;
        padding:24px 64px;
        color:white;
        text-shadow:2px 2px 2px black;
        letter-spacing:1px;
        background:var(--red);
        transition:all .3s ease-in-out;
        box-shadow:0px 0px 10px var(--full-black);
    }
    .mob-navigation-socials{
        display:flex;
        margin-top:48px;
        align-items: center;
        margin:48px auto 0px;
    }
    .mob-icon{
        margin:0px 8px;
        color:#fff;
    }



    .header-content {
        width: 80%;
        padding-top: 54px;
    }
    .tittle-of-page svg{
        width:125px;
        height:125px;
    }
    .tittle-of-page h1 {
        font-size: 64px;
        margin-top:24px;
    }
    .tittle-of-page-ornament {
        width: 60%;
        margin-top:16px;
    }
    .tittle-of-page-article article {
        margin-top: 24px;
        font-size: 18px
    }
    .tittle-of-page-button {
        margin-top: 48px;
    }
    .tittle-of-page-button a {
        font-size: 12px;
        padding: 24px 48px;
        color: white;
        text-shadow: 2px 2px 2px black;
        letter-spacing: 2px;
        background: var(--red);
        transition: all .3s ease-in-out;
    }
    .footer-abs-bukowinka {
        position: absolute;
        font-size: 80px;
        top: 10%;
        left: 10%;
        letter-spacing: 5px;
    }
    
    .footer-top-nav-flex {
        display: none;
    }
    .footer-top-info-flex {
        padding: 0px 80px;
        flex-direction:column;
    }
    .footer-info-con-flex {
        width: 100%;
        padding: 0 16px;
        margin-top:32px;
        align-items: center;
    }
    .footer-info-header-p {
        margin-bottom: 24px;
        font-size:32px;
    }
    .footer-abs-bukowinka {
        transform: rotate(90deg);
        left: -15%;
        top: 150px;
    }
    footer {
        height: auto;
    }
    .footer-top {
        height: auto;
    }
    .footer-info-con-flex:nth-child(3) a {
        margin-top: 16px;
        width: fit-content;
        padding-bottom:32px;
    }
    .atrakcje-detailed-description-full-flex-desk{
        display:none;
    }
    .atrakcje-detailed-description-full-flex-mob{
        display:flex;
        flex-direction: column;
    }
    .detailed-description-box{
        width:100%;
        height:250px;
    }
    .atrakcje-detailed-description-full-flex-mob  .atrakcje-detailed-full:nth-child(1){
        background:none;
        background-position:0%
    }
    .atrakcje-detailed-description-full-flex-mob  .atrakcje-detailed-full:nth-child(3){
        background:none;
        background-position:0%
    }
    .atrakcje-detailed-description-full-flex-mob  .atrakcje-detailed-full:nth-child(5){
        background:none;
        background-position:0%
    }
    .atrakcje-detailed-description-full-flex-mob  .atrakcje-detailed-full:nth-child(7){
        background:none;
        background-position:0%
    }
    .atrakcje-detailed-description-full-flex-mob  .atrakcje-detailed-full:nth-child(9){
        background:none;

        background-position:0%
    }
    .atrakcje-detailed-description-full-flex-mob  .atrakcje-detailed-full:nth-child(11){
        background:none;
        background-position:0%
    }
    .atrakcje-detailed-description-full-flex-mob  .atrakcje-detailed-full:nth-child(13){
        background:none;
        background-position:0%
    }
    .atrakcje-detailed-description-full-flex-mob  .atrakcje-detailed-full:nth-child(15){
        background:none;
        background-position:0%
    }
    .atrakcje-detailed-description-full-flex-mob  .atrakcje-detailed-full:nth-child(17){
        background:none;
        background-position:0%
    }
    .atrakcje-detailed-description-full-flex-mob > .atrakcje-detailed-full img{
        width:100%;
        height:100%;
    }
    .atrakcje-detailed-description-full-flex-mob > .atrakcje-detailed-full:nth-child(9) img{
        width:100%;
        height:100%;
        transform:scale(1.5);
    }
    .atrakcje-detailed-full{
        overflow: hidden;
    }
    .atrakcje-description-main {
        padding: 64px;
    }
    .atrakcje-description h2 {
        margin-bottom:64px;
    }

}
@media only screen and (max-width:600px){
    .footer-bot-flex {
        flex-direction: column;
        justify-content: space-around;
        padding-top: 0px;
    }
    .footer-bot-flex>div{
        margin:16px auto 0px;
        width:100%;
    }
    .footer-bot {
        height: auto;
    }
    .footer-bot-credits {
        margin:0 auto;
        padding:16px 0px;
        text-align: center;
    }
    .footer-info-con-flex {
        text-align: center;
    }
    .footer-abs-bukowinka {
        transform: rotate(90deg);
        left: -20%;
        top: 175px;
    }
    .atrakcje-description article {
        font-size: 18px;
    }
    .detailed-description-box article {
        font-size: 18px;
    }
    .detailed-description-box p {
        margin-top: 0px;
    }
    .atrakcje-icons-flex{
        display:block;
        margin-top:-60%;
    }
    .atrakcje-icons-absolute{
        display:block;
    }
    .atrakcje-description-main{
        position:relative;
    }
    .atrakcje-icons img{
        opacity:0.1;
    }
    .atrakcje-icons.row1{
        margin-bottom:50px;
    }
    .atrakcje-icons.row2{
        margin-bottom:50px;
    }
    .atrakcje-icons.row3{
        margin-bottom:50px;
    }
    .atrakcje-description-main {
        padding: 64px 24px 24px;
    }
    
}
@media only screen and (max-width:450px){
    .footer-top-info-flex {
        padding: 0px 20px;
        flex-direction: column;
    }
    .footer-info-header-p {
        margin-bottom: 12px;
        font-size: 24px;
    }
    .footer-info-con-flex div {
        font-size: 16px;
    }
    .svg-con a svg{
        width:20px;
        height:20px;
    }
    .footer-bot-flex>div {
        margin: 12px auto 0px;
    }
    .footer-bot-credits {
        padding: 8px 0px;
    }
    .header-content {
        width: 90%;
        padding-top: 54px;
    }
    header {
        background-position:15% 50%;
    }
    .header-content>div{
        margin:5vh 0px
    }
    .header-content>div:nth-child(2){
        margin:2vh auto 5vh;
    }
    .atrakcje-description article {
        font-size: 16px;
    }
    .atrakcje-icons-flex {
        margin-top: -80%;
    }
    .detailed-description-box article {
        font-size: 16px;
    }
    .atrakcje-detailed-full {
        height: 200px;
    }
    .detailed-description-box {
        height: 200px;
    }
    .detailed-description-box {
        width: 100%;
        padding: 8px 16px 16px;
    }

}
@media only screen and (max-width:350px){
    .tittle-of-page h1 {
        font-size: 48px;
        margin-top: 24px;
    }
    .tittle-of-page-article article {
        margin-top: 24px;
        font-size: 16px;
    }
    .footer-abs-bukowinka {
        left: -40%;
    }

}
