*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    text-decoration:none;
    font-family: "Barlow", sans-serif;
}
.reszta-fontów{
    font-family: "Barlow", sans-serif;
    font-family: "Dancing Script", cursive;
    font-family: "Caveat", cursive;
    font-family: "Roboto", sans-serif;
}
:root{
    --main-white:#e9e9e9;
    --full-white:#ffffff;
    --full-black:#000000;
    --full-gray:#4d4d4d;
    --main-green:#0F2F2A;
    --sec-green:#1E5F54;
    --red:#F23535;
}
body{
    background:var(--main-white);
}
nav{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    transition:all .3s ease-in-out;
    z-index:99;
}
.mobile-navigation{
    display:none;
}
nav.scrolled{
    box-shadow:0px 2px 12px black;
}
nav.scrolled .nav-relative .nav-anchors .div-anchor a{
    color:var(--full-black);
    text-shadow:none;
    font-weight:400;
}
nav.scrolled .nav-relative .nav-anchors .div-anchor .icon{
    margin-bottom:-20px;
}
nav.scrolled .nav-relative .nav-anchors .div-anchor a:hover{
    color:hsl(0,0%,30%)
}
nav.scrolled .nav-relative .nav-anchors .div-anchor a:hover + .icon{
    color:hsl(0,0%,30%);
}
nav.scrolled .nav-relative .nav-anchors .div-anchor .icon{
    color:var(--full-black);
}
nav.scrolled .nav-relative .nav-socials .nav-socials-flex .icon{
    color:var(--full-black);
}
nav.scrolled .nav-relative .nav-socials .nav-socials-flex .icon:hover{
    color:hsl(0,0%,30%);
}
nav.scrolled .nav-relative .nav-socials{
    bottom:22px;
}
.navigation-icon{
    display:none;
}
.nav-relative{
    position:relative;
    padding:24px 0px 24px;
    background:transparent;
    transition:all .3s ease-in-out;
}
nav.scrolled .nav-relative{
    padding:8px 0px 21px;
    background:var(--main-white);
}
.nav-anchors{
    width:fit-content;
    display:flex;
    margin:0 auto;
}
.div-anchor{
    display:flex;
    flex-direction: column-reverse;
    justify-content: end;
    margin:0 32px;
}
.div-anchor a{
    font-weight:bold;
    font-size:20px;
    color:var(--full-white);
    text-shadow:2px 2px 2px var(--full-black);
    font-family: "Roboto", sans-serif;
    letter-spacing: 1px;
}
.div-anchor a:hover{
    color:hsl(0,0%,80%);
}
.div-anchor a:hover + .icon{
    color:hsl(0,0%,80%);
}
.div-anchor.nav-anchor-logo a{
    font-family: "Dancing Script", cursive;
    font-size:32px;
}
.div-anchor .icon{
    margin:0 auto -10px;
    color:white;
}

.nav-socials{
    position:absolute;
    bottom:24px;
    right:40px;
}
.nav-socials-flex{
    display:flex;
    flex-direction: row;
}
.nav-socials-flex a{
    color:white;
    margin:0px 8px;
}
.nav-socials-flex a:hover{
    color:hsl(0,0%,80%);
}
header{
    background:url('./img/main-header.png');
    width:100%;
    height:100vh;
    min-height:fit-content;
    background-repeat: no-repeat;
    background-size: cover;
}
.header-content{
    position:relative;
    display:flex;
    flex-direction: column;
    width:70%;
    margin:0 auto;
    padding-top:120px;
}
.tittle-of-page{
    display:flex;
    flex-direction: column;
}
.tittle-of-page svg{
    align-self: center;
    margin-bottom:-40px;
}
.tittle-of-page h1{
    color:var(--full-white);
    font-size:128px;
    font-family: "Dancing Script", cursive;
    text-align: center;
    text-shadow:2px 2px 2px black;
}
.tittle-of-page-ornament{
    width:25%;
    height:2px;
    background:var(--full-white);
    margin:24px auto 0px;
}
.tittle-of-page-article article{
    margin-top:24px;
    font-size:36px;
    font-family: "Barlow", sans-serif;
    font-style: italic;
    text-align: center;
    color:var(--full-white);
    letter-spacing:1px;
    text-shadow:2px 2px 2px black;
}
.tittle-of-page-button {
    margin-top:88px;
    text-align: center;
    margin-bottom:60px;
}
.tittle-of-page-button a{
    font-size:16px;
    padding:24px 56px;
    color:white;
    text-shadow:2px 2px 2px black;
    letter-spacing:3px;
    background:var(--red);
    transition:all .3s ease-in-out;
}
.tittle-of-page-button a:hover{
    box-shadow:0px 0px 20px black;
    text-shadow:1px 1px 1px black;
}
.div12{
    height:2000px;
}

.krotki-opis-bukowinki{
    padding:60px 15%;
    text-align: center;
}
.krotki-opis-bukowinki h2{
    color:var(--main-green);
    font-family: "Caveat", cursive;
    font-size:64px;
}
.krotki-opis-bukowinki article{
    color:var(--full-black);
    font-size:24px;
    margin-top:60px;
    line-height: 40px;
}

.paralax-1{
    background:url('./img/paralax-1.jpg');
    width:100%;
    height:400px;
}
.krotki-opis-o-nas{
    padding:60px 5%;
    display:flex;
    flex-direction: row;
    justify-content: space-around;
}
.krotki-opis-o-nas .img-o-nas{
    width:35%;
    height:700px;
    background:url('./img/o-nas.jpg');
    background-size: cover;
}
.krotki-opis-o-nas .opis-o-nas{
    width:45%;
    text-align: center;
}
.krotki-opis-o-nas .opis-o-nas h3{
    color: var(--main-green);
    font-size:64px;
    font-family: "Caveat", cursive;
}
.krotki-opis-o-nas .opis-o-nas article{
    font-size:24px;
    margin-top:60px;
    color:var(--full-black);
    line-height:30px;
    margin-bottom:60px;
}
.krotki-opis-o-nas a {
    width:fit-content !important;
    display:block;
    margin:0 auto;
}
.krotki-opis-o-nas a div{
    border:1px solid black;
    padding:24px 64px;
    color:var(--full-black);
    width:fit-content;
    font-weight:bold;
}

.krotki-opis-domki{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding:60px 5%;
    justify-content: space-around;
    background-color: var(--main-green);
}
.krotki-opis-domki div{
    width:45%;
    margin-top:24px;
}
.krotki-opis-domki div .opis-domki-domek{
    width:350px;
    height:225px;
    margin-top:0px;
    box-shadow:0px 0px 15px black;
}
.krotki-opis-domki div .opis-domki-domek:nth-child(1){
    background:url('./img/domek2-small.jpeg');
    background-size: cover;
}
.krotki-opis-domki div .opis-domki-domek:nth-child(2){
    background:url('./img/domek3-small.jpeg');
    background-size: cover;
    margin-left:150px;
    margin-top:-80px;
}
.krotki-opis-domki div .opis-domki-domek:nth-child(3){
    background:url('./img/secound-house-small.jpeg');
    background-size: cover;
    margin-left:70px;
    margin-top:-50px;
}
.krotki-opis-domki div h4{
    font-family: "Caveat", cursive;
    font-size:64px;
    color:white;
    text-align: center;
}
.krotki-opis-domki div article{
    font-size:24px;
    color:white;
    text-align: center;
    margin-top:60px;
    line-height:40px;
}
.krotki-opis-domki div:nth-child(5){
    width:100%;
    margin-top:64px;
}
.krotki-opis-domki div a {
    margin:0 auto;
    width:fit-content;
    display:block;
}
.krotki-opis-domki div a div{
    padding:24px 48px;
    border:1px solid white;
    color:white;
    margin:0 auto;
    text-align: center;
    width:fit-content;
    letter-spacing:1px;
    font-size: 16px;
    font-weight:bold;
}
.paralax-2{
    background:url('./img/paralax-2.jpg');
    width:100%;
    height:400px;
}

.spedzanie-czasu{
    border:4px solid var(--main-green);
    width:60%;
    margin:-100px auto 0px;
    display:flex;
    flex-direction: column;
    background:var(--main-white);
    z-index:77;
    position:relative;
}
.spedzanie-czasu h5{
    font-family: "Caveat", cursive;
    font-size:64px;
    text-align: center;
    color: var(--main-green);
    margin-top:16px;
}
.spedzanie-czasu-rodzaje-atrakcji{
    padding:64px 8px 16px;
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.atrakcja{
    display:flex;
    flex-direction: column-reverse;
    flex-wrap: wrap;
    width:23%;
    justify-content: space-around;
    margin: 0px 0.5% 32px;
}
.atrakcja p{
    text-align: center;
    font-size:20px;
    margin-top:16px;
    text-transform: uppercase;
    font-weight: bold;
    color: hsl(0,0%,10%);
}
.atrakcja-img-con{
    margin:0 auto;
}
.atrakcja:nth-child(3) .atrakcja-img-con, .atrakcja:nth-child(5) .atrakcja-img-con{
    transform: scale(0.9);
}
.spedzanie-czasu a{
    width:fit-content;
    margin:0 auto 32px;
}

.spedzanie-czasu a div{
    color:var(--main-green);
    font-size:16px;
    border:2px solid var(--main-green);
    padding:16px 32px;
    text-align: center;
    font-weight:bold;
}

.mazury{
    width:80%;
    border:4px solid var(--main-green);
    padding:132px 2% 32px;
    margin:-100px auto 100px;
    z-index:1;
    position:relative;
}
.mazury h6{
    font-family: "Caveat", cursive;
    font-size:64px;
    text-align: center;
    color: var(--main-green);
}
.mazury-flex{
    display:flex;
    flex-direction: row;
    justify-content:space-around;
    align-items: center;
    margin-top:32px;
}
.mazury-img{
    width:500px;
    height:600px;
}
.mazury-img img{
    width:100%;
    height:100%;
}
.mazury-opis{
    width:50%;
    font-size:24px;
    line-height:30px;
    letter-spacing: 1px;
    text-align: center;
    padding:0px 32px;
}
.map-mob{
    display:none;
}
.map{
    width:100%;
    height:500px;
    position:relative;
}
.map-desk, .map-mob{
    width:100%;
    height:100%;
}
.map-desk iframe, .map-mob iframe{
    width:100%;
    height:100%;
}
footer{
    width:100%;
    height:675px;
}
.footer-top{
    position:relative;
    height:575px;
    width:100%;
    background:linear-gradient(to bottom, #1B1B1B, #2e2d2d)
}
.footer-top-nav-flex{
    display:flex;
    flex-direction:row;
    justify-content: center;
    align-items: center;
}

.footer-socials{
    display:flex;
    flex-direction: column;
    width:fit-content;
    padding:32px 0px;
    z-index:22;
}
.footer-social-con{
    margin:4px 0px 4px 32px;
    width:25px;
    height:25px;
    color:var(--full-white);
    transition:color 0.3s ease-in-out;
}
.footer-social-con:hover{
    color:hsl(170, 53%, 37%);
}
.footer-social-con svg{
    width:100%;
    height:100%;
}
.footer-nav{
    width:100%;
}

.footer-abs-bukowinka{
    position:absolute;
    font-size:180px;
    font-family: "Dancing Script", cursive;
    top:10%;
    left:10%;
    color:hsla(170, 52%, 25%, 0.1);
    letter-spacing:5px;
}

.footer-nav{
    width:100%;
    text-align: center;
    z-index: 10;
    margin-left:-58px;
}
.footer-nav a{
    margin:0 32px;
    color:var(--full-white);
    font-size:32px;
    transition:all .3s ease-in-out;
}
.footer-nav a:hover{
    color:hsl(170, 53%, 37%);
    text-shadow: 0px 0px 2px black;
}

.footer-top-info-flex{
    padding:32px 0px;
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.footer-info-con-flex{
    display:flex;
    flex-direction: column;
    text-align: left;
}
.footer-info-header-p{
    font-size:32px;
    margin-bottom:32px;
    text-align:left;
    color:var(--full-white);
}
.footer-info-con-flex div{
    color:white;
    font-size:20px;
}
.svg-con{
    width:fit-content
}
.svg-con a{
    display:flex;
    flex-direction: row;
    color:white;
    transition:all .3s ease-in-out;
}
.svg-con a:hover{
    color:hsl(170, 53%, 37%);
}
.svg-con a:hover > div{
    color:hsl(170, 53%, 37%);
} 
.svg-con a div{
    margin-left:8px;
    color:var(--full-white);
    transition:all .3s ease-in-out;
}
.foot-con-flex{
    margin-top:16px;
}
.footer-info-con-flex:nth-child(3) a{
    margin-top:16px;
    width: fit-content;
}
.footer-info-con-flex:nth-child(2) > .foot-con-flex:nth-child(2){
    margin-top:0px !important;
}
.footer-kontakt-btn{
    background: #F23535;
    color:white;
    padding:16px 48px;
    font-size:14px !important;
    text-shadow:2px 2px 2px black;
    letter-spacing:3px;
    font-weight: bold;
}


.footer-bot{
    background:#202020;
    width:100%;
    height:100px;
}
.footer-bot-flex{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top:16px;
}
.footer-bot-flex div{
    width:33.32%;
    text-align: center;
}
.footer-bot-flex a, .footer-bot-flex div{
    color:white;
    font-size:20px;
}
.footer-bot-socials-flex{
    display:flex;
    flex-direction: row;
    justify-content: center;
}
.footer-bot-socials-flex a{
    width:25px;
    height:25px;
    margin:0px 8px;
    color:var(--full-white);
    transition:color .3s ease-in-out;
}
.footer-bot-socials-flex a:hover{
    color:hsl(170, 53%, 37%);
}
.footer-bot-socials-flex a svg{
    width:100%;
    height:100%;
}
.policy a:hover{
    color:hsl(170, 53%, 37%);
}
.policy a{
    color:var(--full-white);
    transition: color .3s ease-in-out;
}
.footer-bot-credits{
    margin-top:16px;
    text-align:center;
}
.footer-bot-credits a{
    color:hsl(0,0%,60%);
    font-size:20px;
    transition: color .3s ease-in-out;
}
.footer-bot-credits a:hover{
    color:hsl(170, 53%, 37%);
}












@media only screen and (max-width:1200px){
    .div-anchor {
        margin: 0 16px;
    }
    .tittle-of-page-article article {
        font-size: 28px;
    }
    .krotki-opis-bukowinki article {
        font-size: 20px;
        margin-top: 60px;
        line-height: 30px;
    }
    .krotki-opis-o-nas .opis-o-nas article {
        font-size: 20px;
        line-height: 25px;
    }
    .krotki-opis-domki div article {
        font-size: 20px;
        line-height: 30px;
    }
    .mazury-opis {
        font-size: 20px;
        line-height: 25px;
        padding:0px 32px;
    }
    .mazury-img {
        width: 400px;
        height: 500px;
    }
    .footer-nav a {
        margin: 0 32px;
        font-size: 32px;
    }
    .footer-bot-flex a, .footer-bot-flex div {
        font-size: 16px;
    }
    .footer-bot-socials-flex a svg {
        width: 16px;
        height: 16px;
    }
    .footer-bot-socials-flex a {
        width: 16px;
        height: 16px;
    }
    .footer-bot-credits a {
        font-size: 12px;
    }
    .footer-bot {
        height: 85px;
    }
    footer {
        height: 660px;
    }
    .footer-top-info-flex {
        padding:32px 80px;
    }
    .footer-info-con-flex {
        width:33%;
        padding:0 32px;
    }
    .map {
        height: 400px;
    }
    .krotki-opis-domki div .opis-domki-domek:nth-child(2) {
        margin-left: 100px;
    }
    .krotki-opis-o-nas .img-o-nas {
        width: 35%;
        height: 500px;
    }
    .krotki-opis-o-nas {
        align-items: center;
    }
}

@media only screen and (max-width: 1100px){
    nav.scrolled .nav-relative .nav-socials {
        bottom: 10px;
        margin-right: 0;
    }
    .nav-socials {
        bottom: 15px;
        right: 16px;
    }
    .nav-socials-flex {
        flex-wrap: wrap;
        width: 70%;
        justify-content: center;
        align-items: center;
        float: right;
    }
    .nav-socials-flex a {
        margin: 2px 8px;
    }
    .tittle-of-page-article article {
        font-size: 24px;
    }
    .krotki-opis-bukowinki h2 {
        font-size: 48px;
    }
    .krotki-opis-o-nas .opis-o-nas h3 {
        font-size: 48px;
    }
    .krotki-opis-o-nas .img-o-nas {
        width: 35%;
        height: 400px;
    }
    .krotki-opis-domki div .opis-domki-domek {
        width: 300px;
        height: 200px;
    }
    .krotki-opis-domki div .opis-domki-domek:nth-child(2) {
        margin-left: 70px;
    }
    .krotki-opis-domki div .opis-domki-domek:nth-child(3) {
        margin-left: 40px;
    }
    .krotki-opis-domki>div:nth-child(1){
        padding-top:80px;
    }
    .spedzanie-czasu h5 {
        font-size: 48px;
        margin-top: 16px;
    }
    .atrakcja {
        width: 20%;
        justify-content: space-around;
        margin:none;
        margin-bottom:32px;
    }
    .spedzanie-czasu-rodzaje-atrakcji {
        justify-content: space-around;
    }
    .atrakcja p {
        text-align: center;
        font-size: 18px;
        margin-top: 16px;
    }
    .mazury {
        width: 85%;
    }
    .mazury-img {
        width: 300px;
        height: 400px;
    }
    .mazury-opis {
        font-size: 20px;
        line-height: 22px;
        padding: 0px 16px;
    }
    .mazury h6 {
        font-size: 48px;
    }
    .footer-info-header-p {
        font-size: 24px;
        margin-bottom: 32px;
        text-align: left;
        color: var(--full-white);
    }
    .footer-nav a {
        margin: 0 24px;
        font-size: 24px;
    }
    .footer-abs-bukowinka {
        position: absolute;
        font-size: 140px;
        top: 10%;
        left: 10%;
        letter-spacing: 5px;
    }
    .footer-info-con-flex div {
        color: white;
        font-size: 18px;
    }
    .footer-info-con-flex {
        width: 33%;
        padding: 0 16px;
    }
    .footer-social-con {
        margin: 4px 0px 4px 32px;
        width: 20px;
        height: 20px;
    }
    .krotki-opis-domki div h4 {
        font-size: 48px;
    }
}

@media only screen and (max-width:850px){
    .nav-relative{
        display:none;
    }
    .navigation-icon{
        position:absolute;
        width:40px;
        height:40px;
        z-index: 19 ;
        right:70px;
        top:20px;
        display:block;
    }
    .mobile-navigation{
        width:100vw;
        height:100vh;
        position:fixed;
        top:0;
        right:0;
        background:var(--main-white);
        overflow: scroll;   
        margin-right:0%; 
        display:block;
    }
    .mobile-navigation-relative{
        width:100%;
        height:100%;
        position:relative;
    }
    .close-icon{
        position:absolute;
        top:20px;
        right:20px;
        width:40px;
        height:40px;
    }
    .mob-navigation-content{
        display:flex;
        flex-direction:column;
        padding-top:60px;
        padding-bottom:40px;
    }
    .mob-navigation-anchors{
        display:flex;
        flex-direction: column;
    }
    .mob-navigation-logo{
        display:flex;
        flex-direction:column-reverse;
        text-align:center;
        align-items: center;
    }
    .mob-navigation-logo svg{
        margin-bottom:-20px;
    }
    .mob-navigation-anchors .mob-navigation-logo a{
        font-family: "Dancing Script", cursive;
        font-size:64px;
        color:#000
    }
    .mob-navigation-anchors .mob-navigation-logo a + svg{
        color:#000
    }
    .anchor-subweb{
        margin:16px auto 0px;
        width:fit-content;
        position:relative;
    }
    .anchor-subweb a{
        text-align: center;
        color:var(--full-black);
        font-size:36px;
    }
    .mob-navigation-anchors a:nth-child(1){
        margin-top:0px;
    }
    .mob-navigation-anchors a:nth-child(2){
        margin-top:16px;
    }
    .mob-navigation-button {
        margin-top:64px;
        text-align: center;
    }
    .mob-navigation-button a{
        font-size:14px;
        padding:24px 64px;
        color:white;
        text-shadow:2px 2px 2px black;
        letter-spacing:1px;
        background:var(--red);
        transition:all .3s ease-in-out;
        box-shadow:0px 0px 10px var(--full-black);
    }
    .mob-navigation-socials{
        display:flex;
        margin-top:48px;
        align-items: center;
        margin:48px auto 0px;
    }
    .mob-icon{
        margin:0px 8px;
    }



    .header-content {
        width: 80%;
        padding-top: 54px;
    }
    .tittle-of-page svg{
        width:125px;
        height:125px;
    }
    .tittle-of-page h1 {
        font-size: 64px;
        margin-top:24px;
    }
    .tittle-of-page-ornament {
        width: 60%;
        margin-top:16px;
    }
    .tittle-of-page-article article {
        margin-top: 24px;
        font-size: 18px
    }
    .tittle-of-page-button {
        margin-top: 48px;
    }
    .tittle-of-page-button a {
        font-size: 12px;
        padding: 24px 48px;
        color: white;
        text-shadow: 2px 2px 2px black;
        letter-spacing: 2px;
        background: var(--red);
        transition: all .3s ease-in-out;
    }
    .footer-abs-bukowinka {
        position: absolute;
        font-size: 80px;
        top: 10%;
        left: 10%;
        letter-spacing: 5px;
    }
    .krotki-opis-bukowinki article {
        margin-top: 48px;
    }
    .paralax-1 {
        height: 300px;
        display:none;
    }
    .krotki-opis-o-nas {
        padding: 0px 0px;
        display: block;
        flex-direction: row;
        justify-content: space-around;
    }
    .krotki-opis-o-nas .img-o-nas {
        display:none;
    }
    .krotki-opis-o-nas .opis-o-nas {
        width: 100%;
        text-align: center;
        min-height:550px;
        margin:0 auto;
        background:url('./img/o-nas-darker-850.png');
        background-repeat: no-repeat;
        background-size: cover;
        background-position:50% 40%;
        color:#fff;
    }
    .krotki-opis-o-nas .opis-o-nas h3 {
        color: #fff;
        padding:40px 0px;
    }
    .krotki-opis-o-nas .opis-o-nas article {
        color:#fff;
        padding:0px 0px 40px;
        width:75%;
        margin:0 auto;

    }
    .krotki-opis-o-nas a {
        padding-bottom:40px;
    }
    .krotki-opis-o-nas a div {
        border: 1px solid #fff;
        color: #fff;
    }
    .krotki-opis-domki {
        display: flex;
        flex-direction: column;
        padding: 40px 0px;
    }
    .krotki-opis-domki div article {
        width:75%;
        margin:40px auto 0px;
    }
    .krotki-opis-domki div{
        width:100%;
    }
    .krotki-opis-domki > div:nth-child(1){
        order:2;
        display:flex;
        flex-direction:column;
        padding-top:24px;
        
    }
    .krotki-opis-domki > div:nth-child(1) div{
        margin:12px auto !important;

    }
    .krotki-opis-domki > div:nth-child(2){
        order:1;
    }
    .krotki-opis-domki > div:nth-child(3){
        order:3;
        margin-top:0;
    }
    .krotki-opis-domki > div:nth-child(3) article{
        margin-top:40px;
    }
    .krotki-opis-domki > div:nth-child(4){
        order:5;
        display:none;
    }
    .krotki-opis-domki > div:nth-child(5){
        order:4;
        margin-top:40px;
    }
    
    .paralax-2 {
        height: 300px;
        background:url('./img/paralax-2-small.jpg');
        background-position: 40% 40%;
    }
    .spedzanie-czasu {
        border: 4px solid var(--main-green);
        width: 90%;
        margin: -100px auto 0px;
        display: flex
    }
    .atrakcja {
        flex-wrap: nowrap;
    }
    .atrakcja-img-con{
        width:80%;
        height:80%;
        display:flex;
        justify-content: center;
        align-items: center;
    }
    .atrakcja-img-con img{
        width:100%;
        height:100%;
    }
    .mazury {
        width: 80%;
        border: none;
        padding: 32px 2% 32px;
        margin: 24px auto 24px;
        z-index: 1;
        position: relative;
    }
    .mazury-flex {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        margin-top: 12px;
    }
    .mazury-opis {
        width:100%;
        margin-top:24px;
        letter-spacing:0px;
        line-height: 24px;
    }
    .map {
        height: 300px;
    }
    .footer-top-nav-flex {
        display: none;
    }
    .footer-top-info-flex {
        padding: 0px 80px;
        flex-direction:column;
    }
    .footer-info-con-flex {
        width: 100%;
        padding: 0 16px;
        margin-top:32px;
        align-items: center;
    }
    .footer-info-header-p {
        margin-bottom: 24px;
        font-size:32px;
    }
    .footer-abs-bukowinka {
        transform: rotate(90deg);
        left: -15%;
        top: 150px;
    }
    footer {
        height: auto;
    }
    .footer-top {
        height: auto;
    }
    .footer-info-con-flex:nth-child(3) a {
        margin-top: 16px;
        width: fit-content;
        padding-bottom:32px;
    }

}
@media only screen and (max-width:600px){
    .footer-bot-flex {
        flex-direction: column;
        justify-content: space-around;
        padding-top: 0px;
    }
    .footer-bot-flex>div{
        margin:16px auto 0px;
        width:100%;
    }
    .footer-bot {
        height: auto;
    }
    .footer-bot-credits {
        margin:0 auto;
        padding:16px 0px;
        text-align: center;
    }
    .footer-info-con-flex {
        text-align: center;
    }
        .footer-abs-bukowinka {
        transform: rotate(90deg);
        left: -20%;
        top: 175px;
    }
    .mazury-opis {
        font-size: 18px;
        line-height: unset;
        padding: 0px 16px;
        margin-top:40px;
    }
    .mazury {
        width: 95%;
        border: none;
        padding: 32px 0% 32px;
        margin: 0px auto;
        z-index: 1;
        position: relative;
    }
    .spedzanie-czasu {
        border: 4px solid var(--main-green);
        width: 90%;
        margin: -100px auto 0px;
        display: flex;
    }
    .atrakcja {
        width:49%;
        margin-bottom: 16px;
    }
    .atrakcja-img-con {
        width: 50%;
        height: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .krotki-opis-domki div a div {
        padding: 16px 32px;
        border: 1px solid white;
        color: white;
        margin: 0 auto;
        text-align: center;
        width: fit-content;
        letter-spacing: 1px;
        font-size: 14px;
        font-weight: bold;
    }
        .krotki-opis-domki div article {
        width: 90%;
        margin: 40px auto 0px;
        font-size:18px;
        line-height:unset;
    }
    .krotki-opis-o-nas a div {
        font-size:14px;
        padding:16px 48px;
    }
    .krotki-opis-o-nas .opis-o-nas article {
        font-size:18px;
        width: 90%;
        line-height:unset;
    }
    .krotki-opis-bukowinki article {
        font-size: 18px;
        margin-top: 40px;
        line-height:unset;
    }
    .krotki-opis-bukowinki {
        padding: 40px 0%;
        text-align: center;
        width:90%;
        margin:0 auto;
    }
    .spedzanie-czasu a div {
        font-size: 14px;
        padding: 16px 32px;
    }
    .spedzanie-czasu-rodzaje-atrakcji {
        padding-top:40px;
    }
}
@media only screen and (max-width:450px){
    .map-desk{
        display:none;
    }
    .map-mob{
        display:flex;
    }
    .footer-top-info-flex {
        padding: 0px 20px;
        flex-direction: column;
    }
    .footer-info-header-p {
        margin-bottom: 12px;
        font-size: 24px;
    }
    .footer-info-con-flex div {
        font-size: 16px;
    }
    .svg-con a svg{
        width:20px;
        height:20px;
    }
    .footer-bot-flex>div {
        margin: 12px auto 0px;
    }
        .footer-bot-credits {
        padding: 8px 0px;
    }
    .mazury-opis {
        font-size: 18px;
        line-height: unset;
        padding: 0px 0px;
        margin-top: 40px;
    }
        .mazury h6 {
        font-size: 40px;
    }
    .spedzanie-czasu h5 {
        font-size: 40px;
    }
    .krotki-opis-domki div h4 {
        font-size: 40px;
    }
    .krotki-opis-o-nas .opis-o-nas h3 {
        font-size: 40px;
    }
    .krotki-opis-bukowinki h2 {
        font-size: 40px;
    }
    .header-content {
        width: 90%;
        padding-top: 54px;
    }
    .krotki-opis-bukowinki article {
        margin-top: 40px;
    }
    .krotki-opis-bukowinki article, .krotki-opis-o-nas .opis-o-nas article, .krotki-opis-domki div article, .atrakcja p, .mazury-opis {
        font-size: 16px;
    }
    .atrakcja {
        margin-bottom: 8px;
    }
    header {
        background-position:15% 50%;
    }

}
@media only screen and (max-width:350px){
    .tittle-of-page h1 {
        font-size: 48px;
        margin-top: 24px;
    }
    .tittle-of-page-article article {
        margin-top: 24px;
        font-size: 16px;
    }
    .krotki-opis-bukowinki h2, .krotki-opis-o-nas .opis-o-nas h3,     .krotki-opis-domki div h4, .spedzanie-czasu h5, .mazury h6{
        font-size: 36px;
    }
    .krotki-opis-domki div .opis-domki-domek {
        width: 280px;
        height: 190px;
    }
    .spedzanie-czasu {
        border: 4px solid var(--main-green);
        width: 95%;
        margin: -100px auto 0px;
        display: flex;
    }
    .mazury {
        width: 100%;
    }
    .mazury-opis{
        width:95%;
    }
    .footer-abs-bukowinka {
        left: -40%;
    }

}
